URxvt.font: xft:inconsolata:size=19

URxvt.saveLines:32767
URxvt.scrollBar: false
URxvt.visualBell: true
URxvt.cursorBlink: true

!URxvt.depth: 32
!URxvt*background: rgba:0000/0000/0000/cccc

!URxvt.fading: 70
!URxvt.fadeColor: [0]black
